{% extends 'SiteMainBundle::layout.html.twig' %}

{% block html %}ng-app="audio"{% endblock %}

{% block content %}
{#<div class="div1">#}
    {#{{ pages[0].text|raw }}#}
{#</div>#}
<div class="div2">
    {% if portfolio is defined %}
        {% for portf in portfolio %}
        {#<div class="head">{{ portf.title }}</div>#}
        <ul class="catalog">
            {% for image in portf.images %}<li class="box{% if loop.index%4 == 0 %} lst{% endif %}" id="box{{ image.id }}"><a href="#" onclick="collections({{ image.id }}, '{{ image.src }}', '{{ imagesPortfolio }}', ''); return false;"></a><img class="lazy" data-original="{{ image(image.src).zoomCrop(506, 366) }}" src="{{ asset('sitemain/images/black.jpg') }}" alt="{{ portf.title }}"></li>{% endfor %}
        </ul>
            {% endfor %}
    {% endif %}
</div>
{#<div class="div3">#}
    {#{{ pages[1].text|raw }}#}
{#</div>#}
{% endblock %}